/* Color Theme Swatches in Hex 
.Space-Invaders-1-hex { color: #D93D3D; }
.Space-Invaders-2-hex { color: #D9CF43; }
.Space-Invaders-3-hex { color: #94E1F2; }
.Space-Invaders-4-hex { color: #2384D9; }
.Space-Invaders-5-hex { color: #2573D9; }
*/

body{
    padding: 100px;
    background-color: #f5f5f5;
    font-family: "Jersey 10", sans-serif;
}

main{
    width: 900px;
    display: flex;
    gap: 50px;
    margin: 30px auto 0px auto;
}

footer{
    text-align: center;
    padding: 10px;
    margin: 40px auto 0px auto;
}

form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

label{
    display: block;
    margin-bottom: 10px;
}

input{
    display: inline;
    font-family: inherit;
    width: 200px;
    height: 28px;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

img{
    float: left;
    border: 1px solid #c5c5c5;
    padding: 3px;
    width: 42px;
    border-radius: 5px 0px 0px 5px;
    background-color: #d8edff;
}

/* Juego */

#contenedorJuego{
    background-color: #2384D9;
    border-radius: 10px;
    border: 1px solid #2384D9;
}

#juego{
    padding: 10px;
    min-height: 480px;
    background-color: #ffffff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
}

.containerItem{
    border-radius: 8px;
    padding: 10px;
}

.item{
    border: 8px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#tituloJuego{
    font-size: 32px;
    width: 480px;
    text-align: center;
    padding: 10px;
}

.rojo{
    background-color: #ff3434;
}

.verde{
    background-color: #129e00;
}

.azul{
    background-color: #2384D9;
}

.amarillo{
    background-color: #e4e000;
}


/* Usuario */

#nick{
    width: calc(201px - 50px);
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}
